<% provide(:title, "About Me") %>

<%= stylesheet_link_tag 'welcome'%>

<h1>About me</h1>
Hi, I'm Z, the Turing Award receiver in 2050.</br></br>

I like cats.</br></br>

<%= image_tag("kitten.jpg",size: "600x450", alt: "Kitten")%>

</br></br></br></br>
