<% provide(:title, "About Me") %>

<%= stylesheet_link_tag 'welcome'%>

<h1>About me</h1>
Hi, I'm Z, the Turing Award receiver in 2050.</br></br>

I like cats.</br></br>

<%= image_tag("kitten.jpg",size: "600x450", alt: "Kitten")%>

This site not only has a consistent style and heading for each page, showcasing the using of partials from ruby on rails, it can also handle user inputs and user deletion commands on the story page, showcasing the using of controller, routing, models and database with ruby and rails. Also, it uses ActiveRecord from rails to sanitize users' inputs. </br></br>

</br></br></br></br>
